* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "jetbrains mono";
}
html,
body {
  height: 100%;
  width: 100%;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: orange;
  color: whitesmoke;
  margin: 1rem;
  padding: 0.5rem;
  border-radius: 5rem;
}
h2 {
  font-size: 1.5rem;
  font-weight: 600;
}
.Big_buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  gap: 7rem;
}
.most_wins {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}
.result_showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
  padding: 5rem;
}
.select {
  padding: 3.5rem;
  background-color: antiquewhite;
  border-radius: 5vw;
  border: none;
}
.num {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.result {
  border: none;
  padding: 1rem;
  margin: 2rem;
  background-color: orange;
  color: whitesmoke;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color changes */
}

.move:hover {
  background-color: seagreen;
}
